/*** Universal Settings ***/
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Verdana, sans-serif, Arial;
    
}

/*** Background Image Settings ***/
header, .design {
    background-image: url("../images/the-flatiron-building.png");
    background-size: cover;
}


/*** Background Color Settings ***/
footer {
    background-color: dimgray;
}


/*** Lists Settings ***/
ul {
    list-style: none;
    padding: 0;
}

header ul li {
    padding: 5px 0;
}


/*** Text Color Settings ***/
h1, a, .design, .copy{
    color: white;
}


/*** Font Size Settings ***/
h1 {
    font-size: 70px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

.design, h3 {
    font-size: 23px;
    font-weight: bold;
}

p{
    font-size: 14px;    
}

ul li {
    font-size: 18px;
}

.copy {
    font-size: 11px;
}


/*** Sections Padding ***/
section {
    padding: 15px 0;
}


/*** Footer Settings ***/
footer {
    text-align: left;
}

footer ul li{
    display: inline-block;
    padding-right: 20px;
}

.copy {
    float: left;
    padding: 0 20px;
}


